.barra{
    background: linear-gradient(to right, #133b4b, #4f7aaa);
    color: white;
}

.bg{
    background-image: url("../images/apunte.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}

body{
    background: #4b54a5;
    background: linear-gradient(to right, #161941, #9bcaff);
}


.fa-book{
    color: #eee;
    font-size: 30px;
    transform: rotate(5deg);
}

@media screen and (min-width: 800px) {
    .fa-book {
        font-size: 4em;
    }
} 

.bg_2{
    background-image: url("../images/fondo4k.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
}

.principal_f{
    color: rgb(28, 87, 105)
}

.container_p{
    background-image: linear-gradient(to right, rgb(136, 81, 138), rgb(149, 190, 188));
}

.navbar{
    position: fixed;
    /* top:0; */
}

.lbl{
    color: #eee;
}

.fa-plus-circle{
    margin-right: 3px;
}

.tag_1, .btn_r{
    /* background-color: rgb(77, 111, 150); */
    padding: 5px;
    border: 1px solid white;
    color: white;
    border-radius: 12px;
    margin-left: 6px;
}

.tag_1:hover{
    background-color: rgb(123, 55, 150);
}

.btn_r{
    background: rgb(77, 111, 150);
    color: #eee;
    margin-top: 6px;
}

.btn_r:first-child:hover{
    background: rgb(18, 20, 128);
}

.btn_r:last-child:hover{
    background: rgb(194, 30, 30);
}

.fas{
    padding: 3px;
    margin: 3px;
    color: #eee;
}

.reacciones{
    margin: 3px;
}

.contenerPublicacion{
    border-radius: 10px;
}

.barra{
    position: sticky;
    top: 0;
    z-index: 1;
}

.title{
    color: #eee;
}